@font-face {
    font-family: Proxima Nova;
    src: url('ProximaNova-Bold.woff') format("woff");
}
*, *::before,*::after{
    margin: 0px;
    padding: 0px;
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    box-sizing: border-box;
    font-family: Proxima Nova;
}

ul{
    list-style-type: none;
}
body{
    user-select: none;
    background: #FFDF8C;
}
img{
    pointer-events: none;
}
a{
    text-decoration: none;
    color: black;
}
button{
    all:unset;
}
.wrapper{
    width: 1340px;
    margin: 0 auto;
    margin-top: 43px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.03);
    position: relative;
}
.header{
    height: 137px;
    border-bottom: 1px solid #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .header_left{
        margin-left: 77px;
        width: 316px;
        display: flex;
        flex-direction: row;
        gap: 17px;
        align-items: center;
        .header_left_img{
            width: 38px;
            height: 38px;
        }
        .header_left_elements{
            .header_left_elements_title{
                font-size: 24px;
                letter-spacing: 0.24px;
                text-transform: uppercase;
                font-weight: 800;

            }
            .header_left_elements_description{
                color: #7B7B7B;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 400;

            }
        }
    }
    .header_right{
        margin-right: 38px;
        width: 150px;
        height: 50px;
        border-radius: 30px;
        background: #FE5F1E;
        display: flex;
        flex-direction: row;
        align-items: center;
        .header_right_price{
            color: #FFF;
            font-style: normal;
            font-weight: 700;
            margin-left: 13px;
            margin-right: 13px;
        }
        .header_right_string{
            width: 1px;
            height: 25px;
            background: rgba(255, 255, 255, 0.25);
            margin-right: 13px;

        }
        .header_right_basket{
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }
        .header_right_basket_items{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
        }
    }
}
.navigate{
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .navigate_left{
        margin-left: 67px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 9px;
        .navigate_left_item{
            box-sizing: content-box;
            padding: 14px 30px 17px;
            border-radius: 30px;
            background: #F9F9F9;
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 0.24px;
        }
        .chose{
            background: #282828;
            color: #FFF;

        }

    }
    .navigate_right{
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        margin-right: 40px;

        .navigate_right_img{
            width: 10px;
            height: 5.625px;
            transition: transform 0.3s ease-in-out;
        
        }
        .navigate_right_img_open{
            transition: transform 0.3s ease-in-out;
            transform: rotate(180deg);
        
        }
        .navigate_right_sort{
            font-size: 14px;
            letter-spacing: 0.21px;
        }
        .navigate_right_sortby{
            position: relative;
            color: #FE5F1E;
            text-decoration: underline dotted 2px;
            .navigate_right_sort_items{
                color: black;
                position: absolute;
                width: 132px;
                height: 136px;
                border-radius: 10px;
                box-shadow: 0px 0px 20px rgba(0,0,0, 0.08);
                left:-30px;
                padding-top: 13px;
                .navigate_right_sort_item{
                    font-size: 14px;
                    box-sizing: content-box;
                    padding-top: 10px;     
                    padding-left: 14px;   
                    padding-bottom: 11px;
                    
                }
                .focus{
                    color: #FE5F1E;
                    background: rgba(254, 95, 30, 0.05);
                }
            }
        }
            
    }
    
}
h3{
    font-size: 32px;
}
.main_title{
    margin-left:60px;
    margin-bottom: 35px;
}
.main_items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 65px;
    column-gap: 35px;
    padding-left: 60px;
    .main_item{
        display: flex;
        flex-direction: column;
        
        width: 280px;
        align-items: center;
        .main_item_img{

        }
        .main_item_name{
            font-size: 20px;
            letter-spacing: 0.2px;
            font-weight: 800;
            margin-top: 11px;
            margin-bottom: 22px;
        }
        .main_item_changes{
            border-radius: 10px;
            background: #F3F3F3;
            width: 280px;
            height: 85px;
            padding-top: 7px;
            padding-left: 6px;
            margin-bottom: 17px;
            .main_item_doughs{
                display: flex;
                gap: 6px;
                justify-content: space-around;
                align-items: center;
                height: 32px;
                .main_item_dough{
                    
                    font-size: 14px;
                    text-align: center;
                    width: 131.877px;
                    padding-top: 8px;
                    height: 32px;
                    text-transform: uppercase;

                }
                .dough{
                    border-radius: 5px;
                    background: #FFF;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
                }
            }
            .main_item_sizes{
                display: flex;
                height: 32px;
                margin-top: 7px;
                gap: 6px;

                .main_item_size{
                    width: 86px;
                    font-size: 14px;
                    text-align: center;
                    text-transform: uppercase;
                    padding-top: 8px;

                }
                .size{
                    border-radius: 5px;
                    background: #FFF;
                    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
                }
            }
        }
        .main_item_bot{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 36px;
            width: 100%;
            .main_item_bot_price{
                font-size: 22px;
                font-weight: 700;
                letter-spacing: 0.33px;
            }
            .main_item_bot_btn{
                width: 155px;
                height: 40px;
                display: flex;
                flex-direction: row;
                border-radius: 30px;
                border: 1px solid #EB5A1E;
                align-items: center;
                justify-content: center;
                gap: 8px;
                .main_item_bot_btn_plus{
                    font-size: 25px;
                    color: #EB5A1E;
                    
                    
                }
                .main_item_bot_btn_text{
                    font-size: 16px;
                    color: #EB5A1E;
                }
                .main_item_bot_quantity{
                    width: 22px;
                    height: 22px;
                    text-align: center;
                    font-size: 13px;
                    font-weight: 700;
                    padding-top: 3px;
                    background: #EB5A1E;
                    color: #FFF;
                    border-radius: 50%;
                    
                }
                &:hover{
                    background: #FE5F1E;
                    .main_item_bot_btn_plus{
                        color: #fff;
                        
                    }
                    .main_item_bot_btn_text{
                        color: #FFF;
    
                    }
                    .main_item_bot_quantity{
                        background: #FFF;
                        color: #EB5A1E;
                    }
                }
            }
        }
    }
}